.form {
  margin-left: 5rem;
}
.new {
  border-color: black;
  border-bottom: 1rem;
}

.group {
  display: grid;
  align-items: center;
  grid-template-columns: 60% auto;
  gap: 1.4rem;
  margin-left: auto;
  padding: 1.2rem 0;
  justify-content: space-between;
}

.input,
.button {
  font-family: "Open Sans";
  font-size: 14px;
  padding: var(--l) var(--m);
  margin-left: auto;
}

.input {
  border: var(--color-dark--1) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
}

.input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.button {
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
}

.button:hover {
  color: var(--white);
  background-color: var(--primary);
}
.file {
  width: 110px;
  margin-left: 1.2rem;
  align-items: center;
}
.file::file-selector-button {
  font: inherit;
  font-weight: 500;
  padding: auto;
  margin: auto;
  border-radius: var(--xs);
  color: var(--color-light--2);
  background-color: var(--color-dark--0);
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.file:hover {
  background-color: var(--color-light--2);
}
