.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark--0);
  border-bottom: 1px solid var(--color-grey--1);
  padding-left: 15rem;
  padding-top: 1rem;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-right: 1rem;
}

.link {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: var(--color-dark--1);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}

.nav svg {
  width: 1.2rem;
  height: 2.4rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
  margin: 0;
  padding-top: 1.4rem;
  height: 3.6rem;
  width: auto;
}
.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-purple--1);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
