.icon {
  background: none;
  border: none;
  padding: 0.6rem;
  border-radius: var(--m);
  transition: all 0.2s;
  width: 2.4rem;
  height: 2.4rem;
}

.icon :hover {
  background-color: var(--color-grey--1);
}

.icon svg {
  color: var(--color-grey--1);

  height: 100%;
  width: 100%;
}
