.list {
  list-style: none;
  padding: 0.8rem 0;

  overflow-y: scroll;
}

.list li {
  position: relative;
  display: grid;

  column-gap: 2.4rem;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;

  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}
