.item {
  display: grid;
}

.row {
  display: grid;
  grid-template-columns: 14rem 1.4fr;
  font-family: "Sono";
  font-weight: 600;
  margin: auto;

  gap: 14px;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-evenly; */
}
.link {
  display: grid;
  grid-template-columns: 4rem 1.5fr;
  font-family: "Sono";
  font-weight: 600;
  margin: 0;
  /* background-color: #000; */

  gap: 14px;
  padding: 0;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.row h3 {
  text-align: left;
  font-size: 1.5rem;
  color: black;
  margin: 0;
}

.row p {
  text-align: left;
  font-size: 1.6rem;
  color: var(--color-light--1);
}
.row img {
  border-radius: 40%;
  display: block;
  width: 4.4rem;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: center;
  transform: scale(1.5) translateX(-7px);
}
