.list {
  list-style: none;
  padding: 0.8rem 0;

  overflow-y: scroll;
}
/*
.list-watched {
  height: calc(100% - 9rem);
}
*/
.list li {
  position: relative;
  display: grid;
  /*grid-template-columns: 4rem 1fr;*/
  /* grid-template-columns: 0.6fr 1fr 1fr; */
  column-gap: 2.4rem;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;

  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}

/* .list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
} */
