/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-200: #c7d2fe;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-800: #3730a3;
  --color-brand-900: #312e81;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;

  --color-grey--1: #f3f4f6;
  --color-grey--2: #e5e7eb;
  --color-grey--3: #d1d5db;
  --color-grey--4: #9ca3af;
  --color-grey--5: #6b7280;
  --color-grey--6: #4b5563;
  --color-grey--7: #374151;
  --color-grey--8: #1f2937;
  --color-grey--9: #111827;

  --color-purple--1: #ffc0cb;

  --color-blue--1: #e0f2fe;
  --color-blue--2: #0369a1;
  --color-green--1: #dcfce7;
  --color-green--2: #15803d;
  --color-yellow--1: #fef9c3;
  --color-yellow--2: #a16207;
  --color-silver--1: #e5e7eb;
  --color-silver--2: #374151;
  --color-indigo--1: #e0e7ff;
  --color-indigo--2: #4338ca;

  --color-red--1: #fee2e2;
  --color-red--2: #b91c1c;
  --color-red--1: #991b1b;

  --ti: 2px;
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: #fff;
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}

/*
"importCSSModule": {
    "prefix": "csm",
    "scope": "javascript,typescript,javascriptreact",
    "body": ["import styles from './${TM_FILENAME_BASE}.module.css'"],
    "description": "Import CSS Module as `styles`"
  },
*/
